{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Melodi",
    "description" : "API Melodi",
    "version" : "1.13.1"
  },
  "servers" : [ {
    "url" : "https://api.insee.fr/melodi"
  } ],
  "tags" : [ {
    "name" : "Catalogue",
    "description" : "Récupérer et exploiter les métadonnées du catalogue Melodi"
  }, {
    "name" : "Données",
    "description" : "Récupérer et exploiter les données diffusées sur le catalogue Melodi"
  }, {
    "name" : "Référentiels",
    "description" : "Récupérer et exploiter les référentiels"
  } ],
  "paths" : {
    "/data/{id}" : {
      "get" : {
        "tags" : [ "Données" ],
        "summary" : "Récupérer les données d'un jeu de données en appliquant un filtre",
        "description" : "Permet de récupérer les données d'un jeu de données en appliquant un filtre en paramètre. <p><strong>Se référer à la documentation utilisateur concernant les filtres possibles et la pagination des résultats.</strong></p>",
        "operationId" : "data_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifiant du jeu de données",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DS_POPULATIONS_REFERENCE"
        }, {
          "name" : "params",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/FilterParams"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/FilterDataParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetPresentation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataSetPresentation"
                }
              }
            }
          }
        }
      }
    },
    "/data/{id}/to-csv" : {
      "get" : {
        "tags" : [ "Données" ],
        "summary" : "Récupérer au format CSV les données d'un jeu de données en appliquant un filtre",
        "description" : "Permet de récupérer les données d'un jeu de données en appliquant un filtre en paramètre. <p><strong>Se référer à la documentation utilisateur concernant les filtres possibles et la pagination des résultats.</strong></p>",
        "operationId" : "dataToCsv",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifiant du jeu de données",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DS_POPULATIONS_REFERENCE"
        }, {
          "name" : "params",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/FilterParams"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/FilterDataParams"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/range/{id}" : {
      "get" : {
        "tags" : [ "Données" ],
        "summary" : "Récupérer l'ensemble des dimensions et modalités d'un jeu de données",
        "description" : "Récupère l'ensemble des dimensions et modalités ('range') qui sont utilisées au sein du jeu de données.",
        "operationId" : "range",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id du Dataset",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DS_EC_DECES"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Range"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Range"
                }
              }
            }
          }
        }
      }
    },
    "/file/{idDataset}/{idFichier}" : {
      "get" : {
        "tags" : [ "Données" ],
        "summary" : "Récupérer un fichier de données associé à un jeu de données",
        "description" : "Permet de télécharger un fichier diffusé sur le catalogue associé à un jeu de données : soit l'ensemble des données (format CSV), soit un tableau associé (format XLSX)",
        "operationId" : "product",
        "parameters" : [ {
          "name" : "idDataset",
          "in" : "path",
          "description" : "Identifiant du jeu de données",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DS_TOUR_CAP"
        }, {
          "name" : "idFichier",
          "in" : "path",
          "description" : "Nom du fichier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DS_TOUR_CAP_CSV_FR"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/data/series/{idbanks}" : {
      "get" : {
        "tags" : [ "Données" ],
        "summary" : "Récupérer des séries d'un jeu de données par idbank",
        "description" : "Permet de récupérer des séries d'un jeu de données Melodi par idbank (BDM). <p><strong>Avertissement :</strong> seuls les jeux de données disponibles dans le catalogue Melodi sont proposés.</p>",
        "operationId" : "series_1",
        "parameters" : [ {
          "name" : "idbanks",
          "in" : "path",
          "description" : "liste des idbanks, séparés par des '+'",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "010770930"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Série temporelle"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Série temporelle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/all" : {
      "get" : {
        "tags" : [ "Catalogue" ],
        "summary" : "Lister l'ensemble des jeux de données disponibles dans le catalogue",
        "description" : "Permet de récupèrer tous les jeux de données disponibles dans le catalogue et les informations associées.",
        "operationId" : "catalogAll",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Dataset"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Dataset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{id}" : {
      "get" : {
        "tags" : [ "Catalogue" ],
        "summary" : "Récupérer les métadonnées associées à un jeu de données",
        "description" : "Permet de lister toutes les informations à propos d'un jeu de données.",
        "operationId" : "catalogById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Id du dataset",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "DS_POPULATIONS_REFERENCE"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/ids" : {
      "get" : {
        "tags" : [ "Catalogue" ],
        "summary" : "Récupérer tous les identifiants de jeux de données disponibles dans le catalogue",
        "description" : "Permet de récupérer tous les identifiants de jeux de données disponibles dans le catalogue",
        "operationId" : "catalogAllIds",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/dcat" : {
      "get" : {
        "tags" : [ "Catalogue" ],
        "summary" : "Récupérer les jeux de données disponibles au format DCAT",
        "description" : "Permet de récupérer tous les jeux de données disponibles au format DCAT.",
        "operationId" : "catalogAllDcat",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Datasets DCat"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Datasets DCat"
                }
              }
            }
          }
        }
      }
    },
    "/rmes/listesCodes" : {
      "get" : {
        "tags" : [ "Référentiels" ],
        "summary" : "Récupérer toutes les listes de codes",
        "description" : "Récupèrer toutes les listes de codes",
        "operationId" : "listesCodes",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Liste de codes"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Liste de codes"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rmes/listeCode/{id}" : {
      "get" : {
        "tags" : [ "Référentiels" ],
        "summary" : "Récupérer une liste de codes",
        "description" : "Récupérer une liste de codes par son identiant",
        "operationId" : "listeCode",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "CL_LEGAL_FORM"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Liste de codes"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Liste de codes"
                }
              }
            }
          }
        }
      }
    },
    "/referentiel/geo_object" : {
      "get" : {
        "tags" : [ "Référentiels" ],
        "summary" : "Récupérer la liste des types d'objets géographiques",
        "description" : "Récupérer la liste des types géographiques : Régions, Départements, Communes...",
        "operationId" : "geoObject",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "description" : "Description d'un type de géographie.",
                    "enum" : [ "COMMUNE", "ARRONDISSEMENT_MUNICIPAL", "IRIS", "ARRONDISSEMENT", "DEPARTEMENT", "REGION", "COMER", "EPCI", "NIVEAU_NATIONAL", "AAV2020", "UU2020", "ZE2020", "BV2022", "FRANCE", "OTHER" ]
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "description" : "Description d'un type de géographie.",
                    "enum" : [ "COMMUNE", "ARRONDISSEMENT_MUNICIPAL", "IRIS", "ARRONDISSEMENT", "DEPARTEMENT", "REGION", "COMER", "EPCI", "NIVEAU_NATIONAL", "AAV2020", "UU2020", "ZE2020", "BV2022", "FRANCE", "OTHER" ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/referentiel/frequences" : {
      "get" : {
        "tags" : [ "Référentiels" ],
        "summary" : "Récupérer la liste des fréquences",
        "description" : "Récupérer la liste des fréquences",
        "operationId" : "frequences",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "description" : "Description d'une fréquence.",
                    "enum" : [ "ANNUEL", "SEMESTRIEL", "TRIMESTRIEL", "QUADRIMESTRE", "MENSUEL", "HEBDOMADAIRE", "DAILY", "DAILY_BUSINESSWEEK", "HOURLY", "MINUTELY", "APERIODIQUE" ]
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "description" : "Description d'une fréquence.",
                    "enum" : [ "ANNUEL", "SEMESTRIEL", "TRIMESTRIEL", "QUADRIMESTRE", "MENSUEL", "HEBDOMADAIRE", "DAILY", "DAILY_BUSINESSWEEK", "HOURLY", "MINUTELY", "APERIODIQUE" ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/referentiel/obs_status_fr" : {
      "get" : {
        "tags" : [ "Référentiels" ],
        "summary" : "Récupérer la liste des statuts d'observation",
        "description" : "Récupérer la liste des statuts d'observation",
        "operationId" : "obsStatusFr",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "enum" : [ "DEFINITIF", "SEMI_DEFINITIF", "SEMI_DEFINITIF_AVANCE", "PROVISOIRE", "PROVISOIRE_AVANCE", "PRE_PROVISOIRE" ]
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "enum" : [ "DEFINITIF", "SEMI_DEFINITIF", "SEMI_DEFINITIF_AVANCE", "PROVISOIRE", "PROVISOIRE_AVANCE", "PRE_PROVISOIRE" ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/referentiel/statut_diffusion" : {
      "get" : {
        "tags" : [ "Référentiels" ],
        "summary" : "Récupérer la liste des status de confidentialité",
        "description" : "Récupérer la liste des status de confidentialité",
        "operationId" : "confidentialityStatus",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "description" : "Description d'un status de confidentialité.",
                    "enum" : [ "LIBRE", "SECRET" ]
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "description" : "Description d'un status de confidentialité.",
                    "enum" : [ "LIBRE", "SECRET" ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AbstractJsonSchemaPropertyObject" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "readOnly" : {
            "type" : "boolean"
          }
        }
      },
      "Item" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AbstractJsonSchemaPropertyObject"
            }
          },
          "requiredProperties" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "JsonSchema" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "properties" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/AbstractJsonSchemaPropertyObject"
            }
          },
          "requiredProperties" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "definitions" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Item"
            }
          },
          "type" : {
            "type" : "string"
          },
          "$schema" : {
            "type" : "string"
          }
        }
      },
      "Links" : {
        "type" : "object",
        "additionalProperties" : {
          "$ref" : "#/components/schemas/Link"
        }
      },
      "RepresentationModelObject" : {
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "SliceIdBank" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "subtitle" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "importantNotice" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "stoppedSeries" : {
            "type" : "boolean"
          },
          "showVersions" : {
            "type" : "boolean"
          },
          "idbank" : {
            "type" : "string"
          },
          "idProd" : {
            "type" : "string"
          },
          "relation" : {
            "type" : "string"
          },
          "replaces" : {
            "type" : "string"
          }
        }
      },
      "SliceParametres" : {
        "type" : "object",
        "properties" : {
          "idMesure" : {
            "type" : "string"
          },
          "series" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SliceIdBank"
            }
          }
        }
      },
      "SliceVersion" : {
        "type" : "object",
        "properties" : {
          "idMesure" : {
            "type" : "string"
          },
          "series" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SliceIdBank"
            }
          },
          "dateVersion" : {
            "type" : "string",
            "format" : "date-time"
          },
          "idOperationChargement" : {
            "type" : "string"
          }
        }
      },
      "SliceVersions" : {
        "type" : "object",
        "properties" : {
          "historique" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SliceVersion"
            }
          }
        }
      },
      "StringLangues" : {
        "type" : "object",
        "properties" : {
          "fr" : {
            "type" : "string"
          },
          "en" : {
            "type" : "string"
          }
        }
      },
      "EntityModelSlice" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idDataset" : {
            "type" : "string"
          },
          "idChargementProducteur" : {
            "type" : "string"
          },
          "newPersist" : {
            "type" : "boolean"
          },
          "lastUpdate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/SliceParametres"
          },
          "versions" : {
            "$ref" : "#/components/schemas/SliceVersions"
          },
          "id" : {
            "type" : "string"
          },
          "new" : {
            "type" : "boolean"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PageMetadata" : {
        "type" : "object",
        "properties" : {
          "size" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalElements" : {
            "type" : "integer",
            "format" : "int64"
          },
          "totalPages" : {
            "type" : "integer",
            "format" : "int64"
          },
          "number" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PagedModelEntityModelSlice" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "slices" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelSlice"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "DroitsParSourceParametres" : {
        "type" : "object",
        "properties" : {
          "groupesAutorises" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "EntityModelDroitsParSource" : {
        "type" : "object",
        "properties" : {
          "parametres" : {
            "$ref" : "#/components/schemas/DroitsParSourceParametres"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelDroitsParSource" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "droitsParSources" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelDroitsParSource"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "Thème" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "libelle" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "idParent" : {
            "type" : "string"
          }
        },
        "description" : "Description d'un thème."
      },
      "EntityModelThème" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "libelle" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "idParent" : {
            "type" : "string"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelThème" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "inseeThemes" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelThème"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "ChoixGestionnaire" : {
        "type" : "object",
        "properties" : {
          "nomColonne" : {
            "type" : "string"
          },
          "choix" : {
            "type" : "string"
          }
        }
      },
      "ChoixParDefaut" : {
        "type" : "object",
        "properties" : {
          "iri" : {
            "type" : "string"
          },
          "choix" : {
            "type" : "string"
          }
        }
      },
      "MappingChoixParametres" : {
        "type" : "object",
        "properties" : {
          "correspondanceChoixParDefaut" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ChoixParDefaut"
            }
          },
          "correspondanceColonnes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ChoixGestionnaire"
            }
          }
        }
      },
      "EntityModelMappingChoix" : {
        "type" : "object",
        "properties" : {
          "parametres" : {
            "$ref" : "#/components/schemas/MappingChoixParametres"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelMappingChoix" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "mappingChoixes" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelMappingChoix"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "ObservationMesure" : {
        "type" : "object",
        "properties" : {
          "valeur" : {
            "type" : "number",
            "format" : "double"
          },
          "idMesure" : {
            "type" : "string"
          },
          "idSlice" : {
            "type" : "string"
          },
          "dateChargement" : {
            "type" : "string",
            "format" : "date-time"
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ObservationParametres" : {
        "type" : "object",
        "properties" : {
          "mesures" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObservationMesure"
            }
          }
        }
      },
      "ObservationVersion" : {
        "type" : "object",
        "properties" : {
          "mesures" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObservationMesure"
            }
          },
          "dateVersion" : {
            "type" : "string",
            "format" : "date-time"
          },
          "idOperationChargement" : {
            "type" : "string"
          }
        }
      },
      "ObservationVersions" : {
        "type" : "object",
        "properties" : {
          "historique" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObservationVersion"
            }
          }
        }
      },
      "EntityModelObservation" : {
        "type" : "object",
        "properties" : {
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idDataset" : {
            "type" : "string"
          },
          "idChargementProducteur" : {
            "type" : "string"
          },
          "newPersist" : {
            "type" : "boolean"
          },
          "timePeriod" : {
            "type" : "string",
            "format" : "date-time"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/ObservationParametres"
          },
          "versions" : {
            "$ref" : "#/components/schemas/ObservationVersions"
          },
          "dateEmbargo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "new" : {
            "type" : "boolean"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelObservation" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "observations" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelObservation"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "GenerationFichier" : {
        "type" : "object",
        "properties" : {
          "lienFichier" : {
            "type" : "string"
          },
          "nomFichier" : {
            "type" : "string"
          },
          "titre" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "tailleFichier" : {
            "type" : "integer",
            "format" : "int64"
          },
          "dateGeneration" : {
            "type" : "string",
            "format" : "date-time"
          },
          "idChargementProducteur" : {
            "type" : "string"
          }
        }
      },
      "ProduitSdmxChoixAttributFacultatif" : {
        "type" : "object",
        "properties" : {
          "idComponent" : {
            "type" : "string"
          },
          "idModalite" : {
            "type" : "string"
          },
          "idModaliteReferentiel" : {
            "type" : "string"
          },
          "valeur" : {
            "type" : "string"
          },
          "typeDonnees" : {
            "$ref" : "#/components/schemas/ValeurParametres"
          }
        }
      },
      "ProduitSdmxParametres" : {
        "type" : "object",
        "properties" : {
          "dateDebut" : {
            "type" : "string"
          },
          "dateFin" : {
            "type" : "string"
          },
          "firstNObservations" : {
            "type" : "integer",
            "format" : "int32"
          },
          "lastNObservations" : {
            "type" : "integer",
            "format" : "int32"
          },
          "arrondi" : {
            "type" : "integer",
            "format" : "int32"
          },
          "choixAttributsFacultatifs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProduitSdmxChoixAttributFacultatif"
            }
          },
          "fichierModele" : {
            "type" : "string"
          },
          "fichierTransformation" : {
            "type" : "string"
          },
          "fichierGenere" : {
            "$ref" : "#/components/schemas/GenerationFichier"
          },
          "nomDsdEurostat" : {
            "type" : "string"
          },
          "versionDsd" : {
            "type" : "string"
          },
          "agence" : {
            "type" : "string"
          }
        }
      },
      "ValeurParametres" : {
        "type" : "object",
        "properties" : {
          "textType" : {
            "type" : "string"
          },
          "unknow" : {
            "type" : "boolean"
          },
          "minLength" : {
            "type" : "integer",
            "format" : "int32"
          },
          "maxLength" : {
            "type" : "integer",
            "format" : "int32"
          },
          "minValue" : {
            "type" : "number",
            "format" : "double"
          },
          "maxValue" : {
            "type" : "number",
            "format" : "double"
          },
          "dateFormat" : {
            "type" : "string"
          },
          "regexp" : {
            "type" : "string"
          }
        }
      },
      "EntityModelProduitSdmx" : {
        "type" : "object",
        "properties" : {
          "dateCreation" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateModification" : {
            "type" : "string",
            "format" : "date-time"
          },
          "libelle" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "idDataset" : {
            "type" : "string"
          },
          "nomContact" : {
            "type" : "string"
          },
          "mailContact" : {
            "type" : "string"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/ProduitSdmxParametres"
          },
          "id" : {
            "type" : "string"
          },
          "dateMiseAJour" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statutValidation" : {
            "type" : "string"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelProduitSdmx" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "produitSdmxes" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelProduitSdmx"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "ChargementProducteurParametres" : {
        "type" : "object",
        "properties" : {
          "chargementsUniques" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ChargementProducteurUnitaire"
            }
          },
          "interne" : {
            "type" : "boolean"
          },
          "nomFichier" : {
            "type" : "string"
          },
          "utilisateur" : {
            "$ref" : "#/components/schemas/Utilisateur"
          },
          "codeRetour" : {
            "type" : "string",
            "enum" : [ "EN_COURS", "OK", "OK_AVEC_ARRET", "OK_ALERTES_FONCTIONNELLES", "OK_ALERTES_TECHNIQUES", "KO_ERREURS_TECHNIQUES", "KO_ERREURS_FONCTIONNELLES", "INTERROMPU" ]
          },
          "dateDebut" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateFin" : {
            "type" : "string",
            "format" : "date-time"
          },
          "idEvenement" : {
            "type" : "string"
          },
          "tailleFichier" : {
            "type" : "integer",
            "format" : "int64"
          },
          "nombreObservations" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ChargementProducteurParametresComplements" : {
        "type" : "object",
        "properties" : {
          "observationsRechargees" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "slicesRechargees" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "fichiers" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idProductsEnLigne" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ChargementProducteurUnitaire" : {
        "type" : "object",
        "properties" : {
          "idEvenement" : {
            "type" : "string"
          },
          "codeRetour" : {
            "type" : "string",
            "enum" : [ "EN_COURS", "OK", "OK_AVEC_ARRET", "OK_ALERTES_FONCTIONNELLES", "OK_ALERTES_TECHNIQUES", "KO_ERREURS_TECHNIQUES", "KO_ERREURS_FONCTIONNELLES", "INTERROMPU" ]
          },
          "nomFichier" : {
            "type" : "string"
          },
          "tailleFichier" : {
            "type" : "integer",
            "format" : "int64"
          },
          "fichierSortie" : {
            "type" : "string"
          },
          "nombreObservations" : {
            "type" : "integer",
            "format" : "int64"
          },
          "utilisateur" : {
            "$ref" : "#/components/schemas/Utilisateur"
          },
          "dateDebut" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateFin" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Utilisateur" : {
        "type" : "object",
        "properties" : {
          "idep" : {
            "type" : "string"
          },
          "mail" : {
            "type" : "string"
          },
          "nom" : {
            "type" : "string"
          },
          "timbre" : {
            "type" : "string"
          }
        }
      },
      "EntityModelChargementProducteur" : {
        "type" : "object",
        "properties" : {
          "idDataset" : {
            "type" : "string"
          },
          "embargo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "etat" : {
            "type" : "string",
            "description" : "Description d'un chargement de données.",
            "enum" : [ "EN_COURS_DE_CHARGEMENT", "EN_ERREUR", "EN_ATTENTE_DE_VALIDATION_DU_PRODUCTEUR", "VALIDE", "VALIDE_PREPARATION_FICHIERS_MISE_EN_LIGNE", "VALIDE_USAGE_INTERNE", "MISE_EN_LIGNE", "EN_LIGNE", "SUPPRIME", "DEPUBLIE" ]
          },
          "parametresComplements" : {
            "$ref" : "#/components/schemas/ChargementProducteurParametresComplements"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/ChargementProducteurParametres"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelChargementProducteur" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "chargementProducteurs" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelChargementProducteur"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "CollectionModelEntityModelChargementProducteur" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "chargementProducteurs" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelChargementProducteur"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "EntityModelArchivageEvenement" : {
        "type" : "object",
        "properties" : {
          "mois" : {
            "type" : "string"
          },
          "idOperationStatistique" : {
            "type" : "string"
          },
          "nombreChargements" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nombreChargementsReussis" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nombreObservationsChargees" : {
            "type" : "integer",
            "format" : "int64"
          },
          "dureeChargementsReussis" : {
            "type" : "integer",
            "format" : "int64"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelArchivageEvenement" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "archivageEvenements" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelArchivageEvenement"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "CollectionModelEntityModelArchivageEvenement" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "archivageEvenements" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelArchivageEvenement"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "AbstractRange" : {
        "type" : "object",
        "properties" : {
          "idComponent" : {
            "type" : "string"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/AbstractRangeParametres"
          }
        }
      },
      "AbstractRangeParametres" : {
        "type" : "object",
        "properties" : {
          "idModalites" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "valeurs" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "timePeriods" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractRangeParametresTime"
            }
          },
          "idTerritoires" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idModalitesReferentiel" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idMesures" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "typeComponentProperty" : {
            "type" : "string",
            "enum" : [ "MODALITES", "VALEURS", "GEO", "DATE", "REFERENTIEL", "MESURES" ]
          },
          "withTotal" : {
            "type" : "boolean"
          }
        }
      },
      "AbstractRangeParametresTime" : {
        "type" : "object",
        "properties" : {
          "date" : {
            "type" : "integer",
            "format" : "int64"
          },
          "frequence" : {
            "type" : "string",
            "description" : "Description d'une fréquence.",
            "enum" : [ "ANNUEL", "SEMESTRIEL", "TRIMESTRIEL", "QUADRIMESTRE", "MENSUEL", "HEBDOMADAIRE", "DAILY", "DAILY_BUSINESSWEEK", "HOURLY", "MINUTELY", "APERIODIQUE" ]
          },
          "valeur" : {
            "type" : "string"
          }
        }
      },
      "DataSetParametresMelodiParametres" : {
        "type" : "object",
        "properties" : {
          "choix" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractRange"
            }
          },
          "dateMiseAJourDonnees" : {
            "type" : "string",
            "format" : "date-time"
          },
          "miseAJourDonnees" : {
            "type" : "string"
          },
          "dateCalculRange" : {
            "type" : "string",
            "format" : "date-time"
          },
          "calculRange" : {
            "type" : "string"
          },
          "dateDernierePublication" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dernierePublication" : {
            "type" : "string"
          },
          "csv" : {
            "$ref" : "#/components/schemas/GenerationFichier"
          },
          "dernierExportBdm" : {
            "$ref" : "#/components/schemas/GenerationFichier"
          },
          "dateDebut" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateFin" : {
            "type" : "string",
            "format" : "date-time"
          },
          "activerVersionnement" : {
            "type" : "boolean"
          },
          "nbrObservations" : {
            "type" : "integer",
            "format" : "int64"
          },
          "nbrSlices" : {
            "type" : "integer",
            "format" : "int64"
          },
          "nbrObservationsEnLigne" : {
            "type" : "integer",
            "format" : "int64"
          },
          "nbrSlicesEnLigne" : {
            "type" : "integer",
            "format" : "int64"
          },
          "produitsCatalogues" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "product" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DatasetProduit"
            }
          },
          "raccourcis" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DatasetRaccourci"
            }
          },
          "filesOnly" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GenerationFichier"
            }
          },
          "afficheCatalogue" : {
            "type" : "boolean"
          },
          "ordreComposants" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "uriCsv" : {
            "type" : "string"
          }
        }
      },
      "DataSetParametresRange" : {
        "type" : "object",
        "properties" : {
          "ranges" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractRange"
            }
          }
        }
      },
      "DatasetProduit" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "format" : {
            "type" : "string"
          },
          "issued" : {
            "type" : "string",
            "format" : "date-time"
          },
          "modified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "title" : {
            "type" : "string"
          },
          "accessURL" : {
            "type" : "string"
          },
          "byteSize" : {
            "type" : "integer",
            "format" : "int64"
          },
          "packageFormat" : {
            "type" : "string"
          },
          "mediaType" : {
            "type" : "string"
          },
          "language" : {
            "type" : "string"
          }
        }
      },
      "DatasetRaccourci" : {
        "type" : "object",
        "properties" : {
          "choix" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractRange"
            }
          },
          "titre" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "description" : {
            "$ref" : "#/components/schemas/StringLangues"
          }
        }
      },
      "EntityModelDataSetParametresMelodi" : {
        "type" : "object",
        "properties" : {
          "parametres" : {
            "$ref" : "#/components/schemas/DataSetParametresMelodiParametres"
          },
          "parametresRange" : {
            "$ref" : "#/components/schemas/DataSetParametresRange"
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "PagedModelEntityModelDataSetParametresMelodi" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "dataSetParametresMelodis" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelDataSetParametresMelodi"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          },
          "page" : {
            "$ref" : "#/components/schemas/PageMetadata"
          }
        }
      },
      "CollectionModelEntityModelDataSetParametresMelodi" : {
        "type" : "object",
        "properties" : {
          "_embedded" : {
            "type" : "object",
            "properties" : {
              "dataSetParametresMelodis" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EntityModelDataSetParametresMelodi"
                }
              }
            }
          },
          "_links" : {
            "$ref" : "#/components/schemas/Links"
          }
        }
      },
      "ArchivageEvenementRequestBody" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "mois" : {
            "type" : "string"
          },
          "idOperationStatistique" : {
            "type" : "string"
          },
          "nombreChargements" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nombreChargementsReussis" : {
            "type" : "integer",
            "format" : "int32"
          },
          "nombreObservationsChargees" : {
            "type" : "integer",
            "format" : "int64"
          },
          "dureeChargementsReussis" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ChargementProducteurRequestBody" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "idDataset" : {
            "type" : "string"
          },
          "embargo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "etat" : {
            "type" : "string",
            "description" : "Description d'un chargement de données.",
            "enum" : [ "EN_COURS_DE_CHARGEMENT", "EN_ERREUR", "EN_ATTENTE_DE_VALIDATION_DU_PRODUCTEUR", "VALIDE", "VALIDE_PREPARATION_FICHIERS_MISE_EN_LIGNE", "VALIDE_USAGE_INTERNE", "MISE_EN_LIGNE", "EN_LIGNE", "SUPPRIME", "DEPUBLIE" ]
          },
          "parametresComplements" : {
            "$ref" : "#/components/schemas/ChargementProducteurParametresComplements"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/ChargementProducteurParametres"
          }
        }
      },
      "DataSetParametresMelodiRequestBody" : {
        "type" : "object",
        "properties" : {
          "idDataset" : {
            "type" : "string"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/DataSetParametresMelodiParametres"
          },
          "parametresRange" : {
            "$ref" : "#/components/schemas/DataSetParametresRange"
          }
        }
      },
      "DroitsParSourceRequestBody" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/DroitsParSourceParametres"
          }
        }
      },
      "MappingChoixRequestBody" : {
        "type" : "object",
        "properties" : {
          "idDataset" : {
            "type" : "string"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/MappingChoixParametres"
          }
        }
      },
      "ObservationRequestBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idDataset" : {
            "type" : "string"
          },
          "idChargementProducteur" : {
            "type" : "string"
          },
          "newPersist" : {
            "type" : "boolean"
          },
          "timePeriod" : {
            "type" : "string",
            "format" : "date-time"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/ObservationParametres"
          },
          "versions" : {
            "$ref" : "#/components/schemas/ObservationVersions"
          },
          "dateEmbargo" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string"
          },
          "new" : {
            "type" : "boolean"
          }
        }
      },
      "ProduitSdmxRequestBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "dateCreation" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateModification" : {
            "type" : "string",
            "format" : "date-time"
          },
          "libelle" : {
            "$ref" : "#/components/schemas/StringLangues"
          },
          "idDataset" : {
            "type" : "string"
          },
          "nomContact" : {
            "type" : "string"
          },
          "mailContact" : {
            "type" : "string"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/ProduitSdmxParametres"
          },
          "id" : {
            "type" : "string"
          },
          "dateMiseAJour" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statutValidation" : {
            "type" : "string"
          }
        }
      },
      "SliceRequestBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idDataset" : {
            "type" : "string"
          },
          "idChargementProducteur" : {
            "type" : "string"
          },
          "newPersist" : {
            "type" : "boolean"
          },
          "lastUpdate" : {
            "type" : "string",
            "format" : "date-time"
          },
          "parametres" : {
            "$ref" : "#/components/schemas/SliceParametres"
          },
          "versions" : {
            "$ref" : "#/components/schemas/SliceVersions"
          },
          "id" : {
            "type" : "string"
          },
          "new" : {
            "type" : "boolean"
          }
        }
      },
      "Contact body" : {
        "type" : "object",
        "properties" : {
          "personne" : {
            "type" : "string",
            "description" : "Nom de l'utilisateur",
            "example" : "Julien"
          },
          "pays" : {
            "type" : "string",
            "description" : "Pays de l'utilisateur",
            "example" : "France"
          },
          "message" : {
            "type" : "string",
            "description" : "Message à envoyer",
            "example" : "Bonjour,\nJ'aimerais vous signaler un bug que j'ai trouvé...\n"
          },
          "mail" : {
            "type" : "string",
            "description" : "Mail de l'utilisateur",
            "example" : "exemple@mail.fr"
          }
        },
        "description" : "Modèle du json pour le post de l'url /catalog/contact."
      },
      "UrlParams" : {
        "type" : "object",
        "properties" : {
          "startPeriod" : {
            "type" : "string",
            "description" : "Date de début",
            "example" : "2022-01-01"
          },
          "endPeriod" : {
            "type" : "string",
            "description" : "Date de fin",
            "example" : "2023-01-01"
          },
          "key" : {
            "type" : "string",
            "description" : "Filtre les dimensions selon le système SDMX de points",
            "example" : "A..SO.......CVS..FALSE"
          },
          "firstNObservations" : {
            "type" : "integer",
            "description" : "Nombre d'observations à partir de la plus récente",
            "format" : "int32",
            "example" : 10
          },
          "lastNObservations" : {
            "type" : "integer",
            "description" : "Nombre d'observations à partir de la plus ancienne",
            "format" : "int32",
            "example" : 10
          },
          "includeHistory" : {
            "type" : "boolean",
            "description" : "Inclure les différentes version de la série",
            "example" : false
          },
          "updatedAfter" : {
            "type" : "string",
            "description" : "Versionnement après cette date",
            "example" : "2017-07-11T08:45:00"
          }
        }
      },
      "ComposantMeasureType" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "valeur" : {
            "$ref" : "#/components/schemas/GenericValeur"
          }
        }
      },
      "ContenuTraductionFr" : {
        "required" : [ "contenu", "langue" ],
        "type" : "object",
        "properties" : {
          "langue" : {
            "type" : "string"
          },
          "contenu" : {
            "type" : "string"
          }
        }
      },
      "Datastructure" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "dateCreation" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateMiseAJour" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statutValidation" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "notation" : {
            "type" : "string"
          },
          "version" : {
            "type" : "string"
          },
          "dsdSdmx" : {
            "$ref" : "#/components/schemas/StructureSdmx"
          },
          "dsdParent" : {
            "$ref" : "#/components/schemas/ReferenceId"
          },
          "mesures" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DsdComposant"
            }
          },
          "dimensions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DsdComposant"
            }
          },
          "attributs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DsdComposant"
            }
          }
        },
        "description" : "Description d'une structure de données."
      },
      "DsdComposant" : {
        "type" : "object",
        "properties" : {
          "ordre" : {
            "type" : "integer",
            "format" : "int32"
          },
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "attachement" : {
            "type" : "string"
          },
          "obligatoire" : {
            "type" : "string"
          },
          "dimensionMesure" : {
            "type" : "boolean"
          },
          "filtres" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "caracteristiques" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ComposantMeasureType"
            }
          }
        }
      },
      "GenericValeur" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "code" : {
            "type" : "string"
          }
        }
      },
      "ReferenceId" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          }
        }
      },
      "StructureSdmx" : {
        "type" : "object",
        "properties" : {
          "agence" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "version" : {
            "type" : "string"
          }
        }
      },
      "Source" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "parent" : {
            "$ref" : "#/components/schemas/ReferenceId"
          },
          "type" : {
            "type" : "string"
          }
        },
        "description" : "Description d'une source."
      },
      "Liste de codes" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "dateCreation" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateMiseAJour" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statutValidation" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "version" : {
            "type" : "string"
          },
          "codes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ListeCodeCode"
            }
          },
          "niveaux" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ListeCodeNiveau"
            }
          },
          "profondeurMax" : {
            "type" : "integer",
            "format" : "int32"
          }
        },
        "description" : "Description d'une liste de codes."
      },
      "ListeCodeCode" : {
        "type" : "object",
        "properties" : {
          "uri" : {
            "type" : "string"
          },
          "code" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "parents" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "enfants" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "ordre" : {
            "type" : "integer",
            "format" : "int32"
          },
          "niveaux" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ReferenceId"
            }
          },
          "codesEquivalents" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GenericValeur"
            }
          }
        }
      },
      "ListeCodeNiveau" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "niveauxSuivants" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ReferenceId"
            }
          }
        }
      },
      "Domaine statistique" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "parent" : {
            "$ref" : "#/components/schemas/ReferenceId"
          }
        },
        "description" : "Description d'un domaine statistique."
      },
      "Composant" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "dateCreation" : {
            "type" : "string",
            "format" : "date-time"
          },
          "dateMiseAJour" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statutValidation" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "representation" : {
            "type" : "string"
          },
          "notation" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "concept" : {
            "$ref" : "#/components/schemas/ConceptWrapper"
          },
          "listeCode" : {
            "$ref" : "#/components/schemas/Liste de codes"
          },
          "parent" : {
            "$ref" : "#/components/schemas/ReferenceId"
          },
          "format" : {
            "$ref" : "#/components/schemas/ComposantFormat"
          },
          "caracteristiques" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ComposantMeasureType"
            }
          }
        },
        "description" : "Description d'un composant (dimension, attribut, mesure)."
      },
      "ComposantFormat" : {
        "type" : "object",
        "properties" : {
          "longueurMin" : {
            "type" : "integer",
            "format" : "int32"
          },
          "longueurMax" : {
            "type" : "integer",
            "format" : "int32"
          },
          "valeurMin" : {
            "type" : "number",
            "format" : "double"
          },
          "valeurMax" : {
            "type" : "number",
            "format" : "double"
          },
          "expressionReguliere" : {
            "type" : "string"
          },
          "dateFormat" : {
            "type" : "string"
          }
        }
      },
      "ConceptWrapper" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "conceptsSdmx" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StructureSdmx"
            }
          },
          "intitule" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          },
          "definitionCourte" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionFr"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionFr"
            }
          }
        }
      },
      "AbstractPresentation" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "label" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          }
        }
      },
      "ConceptPresentation" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "label" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "definition" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          }
        }
      },
      "DataSetRangePresentation" : {
        "type" : "object",
        "properties" : {
          "concept" : {
            "$ref" : "#/components/schemas/ConceptPresentation"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AbstractPresentation"
            }
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "LibellePresentation" : {
        "type" : "object",
        "properties" : {
          "fr" : {
            "type" : "string"
          },
          "en" : {
            "type" : "string"
          }
        }
      },
      "Range" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "label" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "range" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DataSetRangePresentation"
            }
          }
        },
        "description" : "Description d'une range sur un jeu de données."
      },
      "GroupeGeographiquePresentation" : {
        "type" : "object",
        "properties" : {
          "identifier" : {
            "type" : "string"
          },
          "title" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "millesimeGeographique" : {
            "type" : "integer",
            "format" : "int32"
          },
          "created" : {
            "type" : "string",
            "format" : "date-time"
          },
          "modified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "spatial" : {
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "Cube de données" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "label" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "version" : {
            "type" : "string"
          },
          "dimensions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DataCubeComponentPresentation"
            }
          },
          "attributes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DataCubeComponentPresentation"
            }
          },
          "measures" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DataCubeComponentPresentation"
            }
          }
        },
        "description" : "Description d'un cube de données."
      },
      "DataCubeComponentPresentation" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "label" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "concept" : {
            "$ref" : "#/components/schemas/ConceptPresentation"
          },
          "conceptScheme" : {
            "$ref" : "#/components/schemas/ConceptPresentation"
          },
          "values" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ModalitePresentation"
            }
          },
          "ordre" : {
            "type" : "integer",
            "format" : "int32"
          },
          "measureType" : {
            "type" : "string",
            "description" : "Description d'un type de mesure.",
            "enum" : [ "NIVEAU", "RATIO", "INDICE", "CONTRIBUTION", "INDICE_DE_PRIX" ]
          },
          "attachement" : {
            "type" : "string"
          }
        }
      },
      "ModalitePresentation" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "label" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          }
        }
      },
      "FilterParams" : {
        "type" : "object",
        "properties" : {
          "GEO" : {
            "type" : "string",
            "example" : "DEP-44"
          }
        }
      },
      "FilterDataParams" : {
        "type" : "object",
        "properties" : {
          "maxResult" : {
            "type" : "integer",
            "example" : 10000
          }
        }
      },
      "MultiValueMapStringString" : {
        "type" : "object",
        "properties" : {
          "all" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "writeOnly" : true
          },
          "empty" : {
            "type" : "boolean"
          }
        },
        "additionalProperties" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "ContenuTraductionEn" : {
        "required" : [ "content", "lang" ],
        "type" : "object",
        "properties" : {
          "lang" : {
            "type" : "string"
          },
          "content" : {
            "type" : "string"
          }
        }
      },
      "DataSetPresentation" : {
        "type" : "object",
        "properties" : {
          "identifier" : {
            "type" : "string"
          },
          "iri" : {
            "type" : "string"
          },
          "title" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "publisher" : {
            "$ref" : "#/components/schemas/DatasetPublisher"
          },
          "observations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObservationPresentation"
            }
          },
          "range" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DataSetRangePresentation"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/PaginationPresentation"
          }
        }
      },
      "DatasetPublisher" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          }
        }
      },
      "ObservationMesurePresentation" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "type" : "number",
            "format" : "double"
          },
          "attributes" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "history" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObservationMesureVersionPresentation"
            }
          }
        }
      },
      "ObservationMesureVersionPresentation" : {
        "type" : "object",
        "properties" : {
          "attributes" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "value" : {
            "type" : "number",
            "format" : "double"
          },
          "issued" : {
            "type" : "string"
          }
        }
      },
      "ObservationPresentation" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "dimensions" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "attributes" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          },
          "measures" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ObservationMesurePresentation"
            }
          }
        }
      },
      "PaginationPresentation" : {
        "type" : "object",
        "properties" : {
          "first" : {
            "type" : "string"
          },
          "previous" : {
            "type" : "string"
          },
          "next" : {
            "type" : "string"
          },
          "last" : {
            "type" : "string"
          },
          "isLast" : {
            "type" : "boolean"
          },
          "count" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Category" : {
        "type" : "object",
        "properties" : {
          "index" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "label" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "Dimension" : {
        "type" : "object",
        "properties" : {
          "label" : {
            "type" : "string"
          },
          "category" : {
            "$ref" : "#/components/schemas/Category"
          }
        }
      },
      "Données au format JSON-Stat" : {
        "type" : "object",
        "properties" : {
          "version" : {
            "type" : "string"
          },
          "updated" : {
            "type" : "string"
          },
          "link" : {
            "$ref" : "#/components/schemas/Link"
          },
          "source" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "href" : {
            "type" : "string"
          },
          "id" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "dimension" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/Dimension"
            }
          },
          "size" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          },
          "value" : {
            "type" : "array",
            "items" : {
              "type" : "number",
              "format" : "double"
            }
          },
          "class" : {
            "type" : "string"
          }
        },
        "description" : "Ensemble de données au format JSON-Stat."
      },
      "Link" : {
        "type" : "object",
        "properties" : {
          "href" : {
            "type" : "string"
          },
          "hreflang" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "deprecation" : {
            "type" : "string"
          },
          "profile" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "templated" : {
            "type" : "boolean"
          }
        }
      },
      "ResponseBodyEmitter" : {
        "type" : "object",
        "properties" : {
          "timeout" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "Série temporelle" : {
        "type" : "object",
        "properties" : {
          "dataset" : {
            "type" : "string"
          },
          "idBank" : {
            "type" : "string"
          },
          "title" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "subtitle" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "importantNotice" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "stoppedSeries" : {
            "type" : "boolean"
          },
          "spatial" : {
            "$ref" : "#/components/schemas/LibellePresentation"
          },
          "wasGeneratedBy" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "observations" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ObservationPresentation"
            }
          },
          "idDataset" : {
            "type" : "string"
          }
        },
        "description" : "Description d'une série temporelle."
      },
      "Dataset" : {
        "type" : "object",
        "properties" : {
          "identifier" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "title" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "subtitle" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "description" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "accessRights" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "processStep" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "confidentialityStatus" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "type" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "issued" : {
            "type" : "string",
            "format" : "date-time"
          },
          "creator" : {
            "type" : "string"
          },
          "modified" : {
            "type" : "string",
            "format" : "date-time"
          },
          "version" : {
            "type" : "string"
          },
          "publisher" : {
            "$ref" : "#/components/schemas/DatasetPublisher"
          },
          "wasGeneratedBy" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DatasetOperation"
            }
          },
          "temporal" : {
            "$ref" : "#/components/schemas/DatasetTemporal"
          },
          "temporalResolution" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GenericObjectEn"
            }
          },
          "accrualPeriodicity" : {
            "$ref" : "#/components/schemas/GenericObjectEn"
          },
          "spatial" : {
            "$ref" : "#/components/schemas/GenericObjectEn"
          },
          "spatialResolution" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GenericObjectEn"
            }
          },
          "spatialTemporal" : {
            "type" : "string",
            "format" : "date-time"
          },
          "statisticalUnit" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GenericObjectEn"
            }
          },
          "theme" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DatasetTheme"
            }
          },
          "landingPage" : {
            "type" : "array",
            "items" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/UrlTraduction"
              }
            }
          },
          "structure" : {
            "$ref" : "#/components/schemas/DatasetStructure"
          },
          "isPartOf" : {
            "type" : "string"
          },
          "product" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DatasetProduit"
            }
          },
          "numObservations" : {
            "type" : "integer",
            "format" : "int64"
          },
          "numSeries" : {
            "type" : "integer",
            "format" : "int64"
          },
          "raccourcis" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RaccourcisCatalogue"
            }
          },
          "keyword" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/GenericObjectEn"
            }
          },
          "ordreComposants" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "scopeNote" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "relations" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "idVariables" : {
            "type" : "string"
          },
          "archiveUnit" : {
            "$ref" : "#/components/schemas/GenericObjectEn"
          },
          "abstract" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          }
        },
        "description" : "Description d'un dataset du catalogue."
      },
      "DatasetOperation" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "DatasetStructure" : {
        "type" : "object",
        "properties" : {
          "dsd" : {
            "type" : "string"
          }
        }
      },
      "DatasetTemporal" : {
        "type" : "object",
        "properties" : {
          "startPeriod" : {
            "type" : "string",
            "format" : "date-time"
          },
          "endPeriod" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "DatasetTheme" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
            "properties" : {
              "empty" : {
                "type" : "boolean"
              },
              "first" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              },
              "last" : {
                "$ref" : "#/components/schemas/ContenuTraductionEn"
              }
            },
            "items" : {
              "$ref" : "#/components/schemas/ContenuTraductionEn"
            }
          },
          "themeTaxonomy" : {
            "type" : "string"
          }
        }
      },
      "GenericObjectEn" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "uri" : {
            "type" : "string"
          },
          "label" : {
            "type" : "array",
[...]
